div
    .profile-user467-profile-user467
      span.profile-user467-text Username:       galaxythanh1132
      span.profile-user467-text1 Fullname:      Lam Trung Thanh
      span.profile-user467-text2
        | Email:        thanhltce150868@gmail.com
      span.profile-user467-text3 Complete courses:
      
      button.profile-premium Upgrade Premium
      button.profile-lightbutton  Change password
      button.profile-lightbutton2 Change Email
      //img.profile-user467-image1(src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjkyJyBoZWlnaHQ9JzEwMCcgdmlld0JveD0nMCAwIDI5MiAxMDAnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxyZWN0IHdpZHRoPScyOTInIGhlaWdodD0nMTAwJyByeD0nMzAnIGZpbGw9JyNDNEM0QzQnLz4KPC9zdmc+Cg==' alt='Rectangle757315')
      button.profile-comfirm Confirm
      img.profile-user467-svg(alt='Ellipse444734' src='./images/avatar.jpg')
      img.profile-user467-image2(src='./images/cameraicon.png' alt='icon-camera1-button15626')
      button.profile-user467-image2(type='button')
        img(src='./images/cameraicon.png' alt='icon-camera1-button15626')
      button.userpageicon Poppin'
      
