section.changepass 
    .container 
        .icon 
            button.userpageicon Poppin'
        .image 
            img.passchanger-img(src="./images/passchange.png" , alt="")
        .formchpass 
            .chpasstitle
                h1.formtitle Change Password
            .chpasscompo 
                h1.chpassnew New Password
                h2.chpasscomfirm Comfirm New Password
            .chpassblock
                input.newpass(type='password' placeholder='Enter Password')
                input.comfirmpass(type='password' placeholder='Confirm Password')
            .chpassbutton 
                button.backbutton Back 
                button.submitbutton Submit
            .lockicon 
                img.lockic(src="./images/lock.png" , alt="")
                img.lockic2(src="./images/lock.png" , alt="")