button.course-select Course selection 
.courseselection
    .courseselection-header 
        .courseselection-title Course selection
        button.close-button &times; 
    .courseselection-body
        .courseselection-body-list
            .course
            .course 
            .course 
            .course 
            .course
            .course
            .course 
            .course 
            .course 
            .course  
            .course
            .course 
            .course 
            .course 
            .course
            .course
            .course 
            .course 
            .course 
            .course 
.courseselectOverlay