.wordlearning-wrapper
    img(src="images/background.jpg", alt="")
    .learning
        .progress
            button.close-button &times; 
            .progress-bar
        .div-learn
            .div-learn-content.active(data-question-number = 1)
                input(type="checkbox" id="card")
                label.div-learn-card(for="card")
                    .thefront
                        img(src="images/teaching.jpg", alt="")
                        p Her mother is a #[u teacher] our secondary school 
                    .theback  
                        p #[b Teacher] #[br]#[br]#[br]#[br]/ˈti.tʃɜː/ #[br]#[br]#[br]#[br] Giáo viên (n)
            .div-learn-content(data-question-number = 2)
                p.p.question-type Nghe và viết lại
                .div-text-to-speech
                    .div-audio-icon
                        img.audio-icon(src="images/speaker icon.jpg", alt="")
                input.textbox#answer(type="text" autofocus)
            .div-learn-content(data-question-number = 3)
                p.question-type Điền từ
                .div-word (n)Giáo Viên
                input.fill-in-the-word
            #div-answer
            .continue-button TIẾP TỤC
    
    