.pages 
    section.pages.page.revision(data-page = 1)
        .reviewing
            div#chart_div
            .prep-for-review Preparation for review: 27 words
            .review-now.button-base Review now
    section.pages.page.chapters(data-page = 2)
        .course-list  
            .course-list-chapter-completed Chapter 1 Completed
            .course-list-chapter Chapter 2
            .course-list-chapter Chapter 3
            .course-list-chapter Chapter 4
            .course-list-chapter Chapter 5
            .course-list-chapter Chapter 6
            .course-list-chapter Chapter 7
            .course-list-chapter Chapter 8
            .course-list-chapter Chapter 9
            .course-list-chapter Chapter 10
    section.pages.page.notebook.is-active(data-page = 3)
        .notebookpage
            .level-bar
                .level-bar-level.is-active(data-switcher-2 data-level = 1)
                    .level-name Level 1
                    .levelbar(data-l = 1)
                .level-bar-level(data-switcher-2 data-level = 2)
                    .level-name Level 2
                    .levelbar(data-l = 2)
                .level-bar-level(data-switcher-2 data-level = 3)
                    .level-name Level 3
                    .levelbar(data-l = 3)
                .level-bar-level(data-switcher-2 data-level = 4)
                    .level-name Level 4
                    .levelbar(data-l = 4)
                .level-bar-level(data-switcher-2 data-level = 5)
                    .level-name Level 5
                    .levelbar(data-l = 5)
            .admin-filed.searchbar
                i.fas.fa-search
                input(type="text" placeholder="Search for word").admin-search
            .wordlists 
                .wordlists-level.is-active(data-word-level = 1) 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Perform 
                        .wordrow-ipa /pərˈfɔːrm/
                        .wordrow-wordtype v
                        .wordrow-defi Thực hiện, thể hiện
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Dance
                        .wordrow-ipa /dæns/
                        .wordrow-wordtype v
                        .wordrow-defi dæns
                .wordlists-level(data-word-level = 2) 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Perform 
                        .wordrow-ipa /pərˈfɔːrm/
                        .wordrow-wordtype v
                        .wordrow-defi Thực hiện, thể hiện
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Dance
                        .wordrow-ipa /dæns/
                        .wordrow-wordtype v
                        .wordrow-defi dæns 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Perform 
                        .wordrow-ipa /pərˈfɔːrm/
                        .wordrow-wordtype v
                        .wordrow-defi Thực hiện, thể hiện
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Dance
                        .wordrow-ipa /dæns/
                        .wordrow-wordtype v
                        .wordrow-defi dæns 
                .wordlists-level(data-word-level = 3) 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Perform 
                        .wordrow-ipa /pərˈfɔːrm/
                        .wordrow-wordtype v
                        .wordrow-defi Thực hiện, thể hiện
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Dance
                        .wordrow-ipa /dæns/
                        .wordrow-wordtype v
                        .wordrow-defi dæns 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Dance
                        .wordrow-ipa /dæns/
                        .wordrow-wordtype v
                        .wordrow-defi dæns 
                .wordlists-level(data-word-level = 4) 
                    .wordrow
                        .wordrow-vocab Club 
                        .wordrow-ipa /klʌb/
                        .wordrow-wordtype n
                        .wordrow-defi Câu lạc bộ
                    .wordrow
                        .wordrow-vocab Perform 
                        .wordrow-ipa /pərˈfɔːrm/
                        .wordrow-wordtype v
                        .wordrow-defi Thực hiện, thể hiện 
                .wordlists-level(data-word-level = 5)
                    .empty You have no words on this level!
