.line {
    &-container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        &--primary {
            margin: 2rem 0 3rem 0;
        }
    }
    &-text {
        padding-right: 1rem;
        font-weight: 600;
        font-size: 2.6rem;
        color: #303840;
    }
    &-separate {
        flex-grow: 1;
        height: 0.2rem;
        background-color: $gray-border;
    }
}
