$primary-color: #75ce55;
$secondary-color: #5186c8;
$third-color: #c4c4c4;
$text-color: hsl(257, 6%, 50%);
$gray-normal: #aaadb1;
$gray-text: #8c8d95;
$gray-border: #cccc;
$background-blue: #f9fcfe;
$red-delete: #e76464;
$dark-blue: #1b3452;
//font-family
$primary-font: "Popins", sans-serif;
$secondary-font: "Mulish", sans-serif;
//container
$wrapper: 1440px;
$container: 1200px;
$padding-primary: 3.2rem;
