section.plan 
    .container 
        +title("Choose Your Plan")
        .plan-list 
            .plan-item 
                img(srcset="./images/Free.png 2x", alt="").plan-image
                h3.plan-title Free plan 
                .plan-feature 
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                .plan-price 1 month/4.99$
                button.button.button--third Select
            .plan-item 
                img(srcset="./images/Free.png 2x", alt="").plan-image
                h3.plan-title Free plan 
                .plan-feature 
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                .plan-price 1 month/4.99$
                button.button.button--third Select
            .plan-item 
                img(srcset="./images/Free.png 2x", alt="").plan-image
                h3.plan-title Free plan 
                .plan-feature 
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                    .plan-feature-item  
                        img(srcset="./images/check.png 2x", alt="").plan-check
                        p.plan-desc Lorem ipsum dolor sit amet consectetur adipisicing
                .plan-price 1 month/4.99$
                button.button.button--third Select
        +line()