section.started 
    .container 
        .started-list 
            .started-left 
                img(src="./images/earth.png", alt="").started-image
                .button-container 
                    button.button Get started 
                    button.button.button--second I already have an account
            .started-right 
                img(src="./images/main.jpg", alt="").started-image-main
                h3.started-text New an effective way to learn a language
        +line()