section.why 
    .container 
        +title("Why you’ll love learning with Poppin")
        .why-list 
            .why-item 
                img(src="images/icon1.png", alt="").why-image
                .why-title Personalized learning
                .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, autem culpa minima numquam repudiandae repellendus, aut laborum ut, nam ev        
            .why-item 
                img(src="images/icon1.png", alt="").why-image
                .why-title Personalized learning
                .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, autem culpa minima numquam repudiandae repellendus, aut laborum ut, nam ev        
            .why-item 
                img(src="images/icon1.png", alt="").why-image
                .why-title Personalized learning
                .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, autem culpa minima numquam repudiandae repellendus, aut laborum ut, nam ev        
        +line()