.icon{
    &-exam-process-header{
        background-color: rgb(109, 109, 252);
        width: 100%;
        height: 11rem;
        color: white;
    }
}
.list{
    &-question{
    background-color: cyan;
    border-radius: 1.5rem;
    border: 0px solid black;
    }
}
.header{
    &-title-first{
        font-size: 5rem;
        font-weight: bold;
        padding-top: 1rem;
        margin-left: 5rem;
    }
    &-title-second{
        font-size: 3rem;
        font-weight: bold;
        margin-left: 17rem;
    }
    &-main-title{
        font-size: 4rem;
        font-style: italic;
        font-weight: bold;
        text-align: right;
        margin-top: -3rem;
        padding-right: 2rem;
    }
}
.clock{
    background-color: rgb(5, 199, 5);
    color: black;
    font-size: 2.5rem;
    width: 15rem;
    height: 3.5rem;
    border-radius: 2rem;
    text-align: center;
    border: 0px solid  black;
    margin-left: 110rem;
    margin-top: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.table{
    &-question{
        width:30.8rem;
        height: 25.8rem;
        text-align: center;
        padding: 0.2rem;
        margin-left: 11rem;
    }
    &-content-question{
        background-color: rgb(193, 241, 241);
        border: 0px solid  black;
        border-radius: 1.5rem;
        position: absolute;
        right: 0;
        width: 80rem;
        height: 31rem;
        padding-top: 2rem;
        padding-left: 3rem;
        margin-right: 10rem;
        margin-top: -25.5rem;
        font-size: 1.7rem;
    }
}
.button-question{
    width: 4rem;
    height: 4rem;
    border: 0px solid black;
    border-radius: 5rem;
    margin: 0.5rem 0.5rem;
}
.button{
    &-back{
        font-size: 2rem;
        font-weight: bold;
        border: 0px solid  black;
        border-radius: 1.5rem;
        width: 10rem;
        height: 4rem;
        color: black;
        background-color: yellow;
        margin-top: 6rem;
        margin-left: 17rem;
    }
    &-next{
        font-weight: bold;
        color: white;
        font-size: 2rem;
        border: 0px solid  black;
        border-radius: 1.5rem;
        width: 9rem;
        height: 4rem;
        background-color: rgb(8, 153, 8);
        margin-top: 6rem;
        margin-left: 1rem;
    }
    &-finish{
        font-weight: bold;
        color: white;
        font-size: 2rem;
        border: 0px solid black;
        border-radius: 1.5rem;
        width: 17rem;
        height: 5rem;
        background-color: rgb(111, 111, 243);
        margin-top: -2rem;
        margin-left: 107rem;
    }
}
.option-content{
    input{
        padding: 1rem;
        margin-left: 5rem;
        margin-top: 2.5rem;
    }
}
.num-question{
    font-size: 1.8rem;
    font-style: italic;
    padding: 0.5rem;
}
.number-question-exam{
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 15rem;
}
#done{
    background-color: rgb(5, 199, 5);
}
#doing{
    background-color: yellow;
}