.table{
    &-result{
        width: 105rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 16rem;
        text-align: center;
        table, th, td{
            border: 1px solid black;
            padding: 1rem;
        }
    }
}
.name{
    font-weight: bold;
    font-size: 5rem;
    font-style: italic;
    margin-top: 5rem;
}
.column{
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.3rem 0.3rem;
    margin-bottom: 1rem;
}
.cont{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.button{
    &-result{
        margin-top: 9rem;
        margin-left: 80rem;
    }
    &-learn{
        background-color: green;
        width: 18rem;
    }
    &-review{
        background-color: rgb(23, 132, 168);
        width: 10rem;
    }
    &-exit{
        background-color: red;
        width: 8rem;
    }
    &-learn, &-review, &-exit{
        height: 4rem;
        border: 0px solid  black;
        border-radius: 1rem;
        color: white;
        font-size: 2rem;
        margin-right: 2rem;
        text-align: center;
    }
}