.login {
    &-container {
        padding: 2rem;
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-close {
        font-size: 3rem;
        color: #ccc;
    }
    &-main {
        margin: 0 auto;
        max-width: 80rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10rem;
    }
    &-title {
        font-weight: 700;
        font-size: 2.5rem;
        color: white;
        padding: 1.2rem 8rem;
        background-color: $secondary-color;
        border-radius: 2rem;
        max-width: max-content;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        @include boxShadow;
    }
    &-forget {
        margin-left: auto;
        font-size: 1.8rem;
        color: $text-color;
        font-family: $primary-font;
        margin-top: -1rem;
    }
    &-auth {
        font-size: 2.4rem;
        font-family: $primary-font;
        font-weight: 500;
        margin-top: 3rem;
        color: #c4c4c4;
    }
}
