.admin {
    &-course--primary {
        margin-top: 1rem;
    }
    &-main {
        flex-grow: 1;
        padding: 4rem 3.5rem;
        &--course {
            padding: 1rem 3.5rem;
        }
    }
    &-data {
        display: flex;
        gap: 0rem 3rem;
    }
    &-data-item {
        background-color: white;
        display: flex;
        max-width: 32rem;
        width: 100%;
        padding: 2rem 2.5rem;
        border-radius: 1.5rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &-data-image {
        width: 12.3rem;
        height: 12.3rem;
        margin-left: auto;
    }
    &-data-title {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    &-data-number {
        font-size: 4.8rem;
        font-weight: 500;
        margin: auto 0;
    }
}
.admin {
    &-table {
        &-content {
            line-height: 1.5;
            font-size: 1.8rem;
        }
        table {
            width: 100%;
            font-size: 2.4rem;
            color: $gray-text;
        }
        table th,
        table td {
            text-align: left;
            vertical-align: middle;
        }
        table th:nth-child(2) {
            width: 30%;
        }
        thead tr {
            border-bottom: 2px solid #ccc;
        }
        thead tr th {
            padding-bottom: 1.6rem;
        }
        tbody tr td {
            padding: 1.6rem 0;
        }

        &-image {
            width: 3rem;
            height: 3rem;
            border-radius: 100rem;
            object-fit: cover;
        }
    }
    &-table-number {
        width: 3rem;
        height: 3rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-table-number::before {
        border-radius: 1rem;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        opacity: 0.1;
    }
    &-table-name {
        display: flex;
        align-items: center;
        gap: 0 1rem;
    }
}
.admin {
    &-top {
        padding: 1.8rem;
        background-color: white;
        border-radius: 2rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 3.5rem;
    }
    &-table-order {
        margin-top: 2rem;
    }
}
@include currentColor(#f62682, 0.1, ".admin-table-action");
.admin-table-action--red {
    color: #f62682;
}
.admin-table-action--blue {
    color: $secondary-color;
}
.admin-table-action--purple {
    color: #6a5af9;
}
.admin-table-action--orange {
    color: #ff6651;
}
.admin-table-action--green {
    color: #20e3b2;
}
