.notify{
    &-first{
        margin-top: 6%;
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        font-style: italic;
        color: yellow;  
        background-color: lightsteelblue;
        width: auto;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    &-second{
        font-size: 2.5rem;
        font-weight: bold;
        color:rgb(55, 252, 16);
        margin-left: 16.5%;
        margin-top: -2.5%;
    }
}
.premium-icon{
    margin-top: 4rem;
    margin-left: 9%;
    width: 9rem;
    height: 5rem;
}
.table-status{
    table, th, td{
        border: 1px solid black;
        padding: 1rem;
    }
    table{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5rem;
    }
}
.col{
    font-size: 2rem;
    font-weight: bold;
}
.con-status{
    font-size: 1.5rem;
    font-style: italic;
}
.button{
    &-retry{
    width: 13rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(150, 200, 216);
    border: 0px solid black;
    border-radius: 1.5rem;
    margin-left: 3rem;
    }
    &-success{
        margin-left: 70rem;
    }
}