.plan {
    margin-bottom: 15rem;
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
    &-item {
        border-radius: 1rem;
        padding: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #cccc;
        transition: all 0.25s linear;
        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 1px solid $primary-color;
        }
    }
    &-image {
        margin-bottom: 2rem;
    }
    &-title {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
    &-feature {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem 0;
        margin-bottom: 9rem;

        &-item {
            display: flex;
            align-items: center;
            color: $text-color;
            gap: 0 1rem;
            line-height: 1.6;
        }
    }
    &-price {
        font-weight: 600;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}
