.quiz {
    width: 100%;
    padding: $padding-primary;
    &-delete {
        margin-left: auto;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
    &-item {
        width: 100%;
        padding: 1.5rem;
        box-shadow: rgba(207, 230, 252, 0.2) 0px 8px 24px;
        background-color: white;
        border-radius: 2rem;
    }
    &-header {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.2rem;
            background-color: $gray-border;
            bottom: -0.5rem;
            border-radius: 100rem;
            margin-top: 2rem;
        }
    }
    &-images {
        width: 8rem;
        height: 6rem;
        border-radius: 1rem;
    }
    &-title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    &-name {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 0.7rem;
    }
    &-complete {
        font-size: 1.6rem;
        color: $gray-border;
    }
    &-main {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem 0;
            align-items: flex-start;
        }
        &-title {
            font-size: 1.6rem;
            font-weight: 500;
        }
        &-name {
            color: rgba(0, 0, 0, 0.742);
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
    &-icon-container {
        display: flex;
        gap: 1rem;
        margin-left: auto;
    }
}
@include currentColor($primary-color, 0.2, ".quiz-main-item", $number: 1);
@include currentColor($gray-text, 0.2, ".quiz-main-item", $number: 2);
@include currentColor(#6a5af9, 0.2, ".quiz-main-item", $number: 3);
@include currentColor(#458ff6, 0.2, ".quiz-main-item", $number: 4);
