.userpageicon{
    background: transparent;
    border: none;
    top:20px;
    left:20px;
    position: absolute;
    color: #75ce55;
    font-size: 75px;
    font-family: Poppins;
}
.profile-premium{
    top: 762px;
    left: 920px;
    width: 290px;
    height: 50px;
    position: absolute;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #75ce55;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-family: Poppins;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);
}
.profile-premium:hover{
    color: black;
    background-color: #ffb800;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.7) 51%);
}
.profile-comfirm{
    background-color: Transparent;
    border: 1px;
    background-color:rgba(133, 130, 128, 0.562);
    top: 1044px;
    left: 530px;
    color:$text-color;
    width: 238px;
    height: 75px;
    position: absolute;
    font-size: 45px;
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    border-radius: 15px 15px 15px 15px;
}
.profile-comfirm:hover{
    background-color: $primary-color;
    color: white;
    
}
.profile-lightbutton{
  background-color: #6441A5;
  color: #FFF;
  padding: 15px 32px;
  top: 616px;
  left: 920px;
  width: 290px;
  height: 50px;
  padding-bottom: 40px;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}
.profile-lightbutton2{
    background-color: #6441A5;
    color: #FFF;
    padding: 15px 32px;
    top: 687px;
    left: 920px;
    width: 290px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    padding-bottom: 40px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
  }
.vitri-button1{
    top: 616px;
  left: 920px;
  width: 289px;
  height: 50px;
}
.vitri-button2{
    
    top: 687px;
    left: 921px;
    width: 289px;
    height: 44px;
    
  }
.profile-lightbutton:hover{
    background-color: #3B2064
}
.profile-lightbutton2:hover{
    background-color: #3B2064
}


.profile-user467-profile-user467 {
    width: 100%;
    height: 1264px;
    display: flex;
    position: relative;
    max-width: 1287px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .profile-user467-text {
    top: 551px;
    left: 114px;
    width: 465px;
    height: 45px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: $primary-font;
    color: $text-color;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-text1 {
    top: 619px;
    left: 94px;
    
    width: 504px;
    height: 43px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: $primary-font;
    color: $text-color;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-text2 {
    top: 687px;
    left: 65px;
    
    width: 664px;
    height: 43px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: $primary-font;
    color: $text-color;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-text3 {
    top: 757px;
    left: 155px;
    
    width: 292px;
    height: 42px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: $primary-font;
    color: $text-color;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-group49button1578 {
    top: 772px;
    left: 933px;
    width: 286px;
    height: 42px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .profile-user467-image {
    top: 4px;
    left: 131px;
    width: 148px;
    height: 38px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
    background-color: rgba(255, 183, 0, 1);
  }
  .profile-user467-group481577 {
    top: 0px;
    left: 0px;
    width: 286px;
    height: 42px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .profile-user467-text4 {
    top: 0px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    width: 286px;
    height: 42px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-text5 {
    top: 616px;
    left: 920px;
    color: rgba(0, 0, 0, 1);
    width: 289px;
    height: 50px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-text6 {
    top: 687px;
    left: 921px;
    color: rgba(0, 0, 0, 1);
    width: 222px;
    height: 44px;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-image1 {
    top: 1032px;
    left: 484px;
    width: 292px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    border: lawngreen;
    border-color: lawngreen;
    border-radius: 30px;
    background-color: rgba(196, 196, 196, 1);
  }
  .profile-user467-image1:hover {
      background-color: lawngreen;
  }
  .profile-user467-text7 {
    top: 1044px;
    left: 530px;
    color: rgba(0, 0, 0, 1);
    width: 238px;
    height: 75px;
    position: absolute;
    font-size: 50px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .profile-user467-svg {
    top: 136px;
    left: 529px;
    width: 203;
    height: 194;
    position: absolute;
    border-radius: 50%;
  }
  .profile-user467-image2 {
    top: 281px;
    left: 678px;
    width: 38px;
    height: 37px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: white;
    border-radius: 50%;
  }
  