.why {
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5.7rem;
    }
    &-item {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 2rem 2rem 5rem 2rem;
        background-color: white;
        border-radius: 2rem;
    }
    &-image {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    &-title {
        font-family: $secondary-font;
        color: black;
        font-size: 2.4rem;
        font-weight: 500;
        margin: 2rem 0;
    }
}
