:root {
    --colour1: #75ce55;
    --colour2: #6dda45;
    --speed: 4s;
}
@keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 113px;
    }
  }
@keyframes transitionSlideIn{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes btntransition{
    from{
        box-shadow: none;   
        color: #878D94;
        background-color: #E0E0E0;
    }
    to{
        background-color: $primary-color;
        color: #ffffff;
        box-shadow: 1px 5px 0px rgb(72, 141, 46);
    }
}
@keyframes transitionSlideUp{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(45%);
    }
}
.wordlearning-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        object-fit: fill;
    }
    .learning{
        height: 100vh;
        width: 50%;
        margin: 0 auto;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .progress{
            width: 100%;
            height: 5%;
            display: flex;
            margin-top: 2%;
            justify-content: space-between;
            .close-button{
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                font-size: 3.5rem;
                color: #000000;
                font-weight: 800;
                padding-left: 4%;
            }
            &-bar{
                margin: 1% 5%;
                margin-right: 5%;
                min-height: 10px;
                border-radius: 10px;
                width: calc(113px * 5);
                @media only screen and (max-width: 450px) {
                width: calc(113px * 3);
                }
                @media only screen and (max-width: 350px) {
                width: calc(113px * 2);
                }
                box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
                background-color: var(--colour2);
                background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 40px,
                var(--colour1) 40px,
                var(--colour1) 80px
                );

                animation: slide var(--speed) linear infinite;
                will-change: background-position;
            }
        }
        .div-learn{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &-content{
                width: 100%;
                height: 100%;
                display: none;
                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    animation: transitionSlideIn 1s;
                    p.question-type{
                        font-size: 2rem;
                        color: #838282;
                        margin: 5% 0;
                    }
                    .div-text-to-speech{
                        display: flex;
                        height: 7%;
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        .div-audio-icon{
                            border: 1px solid #ffffff;
                            border-radius: 100%;
                            height: 100%;
                            width: 6.8%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            box-shadow: 0px 5px 5px #00000086;
                        }
                        img{
                            // width: 40px;
                            height: 30px;
                            z-index: 1;
                            object-fit: contain;
                        }
                    }
                    input.textbox{
                        margin-top: 10%;
                        border: none;
                        height: 6%;
                        width: 60%;
                        border-radius: 10px;
                        box-shadow: 0px 5px 5px #00000086;
                    }
                    .div-word{
                        font-size: 2rem;
                    }
                    input.fill-in-the-word{
                        margin-top: 10%;
                        border-image-source: linear-gradient(90deg, rgba(117,206,85,1) 29%, rgba(183,255,0,1) 74%);
                        border-width: 5px;
                        text-align: center;
                        font-size: 20px;
                        border-image-slice: 1;
                        height: 10%;
                    }
                    .div-answer-popup{
                        border: 1px solid black;
                        width: 5rem;
                        height: 5rem;
                        &.correct{
                            background-color: #6dda45;
                        }
                    }
                }
            }
            &-card{
                position: absolute;
                width: 20%;
                height: 43%;
                background-color: #ffffff;
                border-radius: 15px;
                left: 40%; 
                top: 14%;
                @include boxShadow;
                transform-style: preserve-3d;
                transition: all 0.5s ease;
            }
            #card:checked +label.div-learn-card{
                transform: rotateY(180deg);
            }
            #card{
                display: none;
            }
            .thefront{
                position:absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                color: #333;
                img{
                    width: 69%;
                    height: 70%;
                    margin: 0 auto;
                    object-fit: cover;
                    top: 5%;
                }
                p{
                    width: 100%;
                    height: 5%;
                    margin-top: 100%;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
            .theback{
                position:absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                color: #333;
                transform: rotateY(180deg);
                p{
                    width: 100%;
                    height: 5%;
                    margin-top: 20%;
                    text-align: center;
                    font-size: 2rem;
                }
            }
            #div-answer{
                width: 50%;
                height: 40%;
                margin-bottom: 10%;
                border-radius: 25px;
                transform: translateY(45%);
                display: none;
                &.correct{
                    position: absolute;
                    display: block;
                    background-color: $primary-color;
                    animation: transitionSlideUp 0.5s;
                }
                &.incorrect{
                    position: absolute;
                    display: block;
                    background-color: #e11e27;
                    animation: transitionSlideUp 0.5s;
                }
            }
            .continue-button{
                width: 34%;
                height: 6%;
                background-color: #E0E0E0;
                border-radius: 20px;
                text-align: center;
                margin-bottom: 10%;

                font-size: 1.6rem;
                font-weight: bolder;
                line-height: 200%;
                color: #878D94;
                &.active{
                    animation: btntransition 0.5s;
                    background-color: $primary-color;
                    color: #ffffff;
                    box-shadow: 1px 5px 0px rgb(72, 141, 46);
                }
            }
        }
    }
}