:root {
    --text-color: #8c8d95;
}
.teacher {
    &-course {
        margin-top: 2.5rem;
        width: 70%;
        margin-bottom: 3.7rem;
        &-title {
            font-weight: 500;
            font-size: 2.2rem;
            color: #8c8d95;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
        &-input {
            width: inherit;
            background-color: white;
            padding: 2.2rem 2.3rem;
            color: black;
            border-radius: 0.5rem;
            font-size: 2.4rem;
            margin-bottom: 1.2rem;
            border: 1px solid $gray-border;
        }
        &-tutorial {
            font-weight: normal;
            font-size: 1.4rem;
            color: #787c88;
        }
    }
    &-chapter {
        &-list {
            max-width: 72rem;
            width: 100%;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 12px 16px 12px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 0.5rem;
            margin-bottom: 2.4rem;
            border: 0.1px solid $gray-border;
        }
        &-icon {
            display: flex;
            column-gap: 1rem;
        }
        &-title {
            font-weight: 500;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
}
.chapter {
    &-wrapper {
        padding: $padding-primary;
        width: 100%;
    }
}

.chapter {
    &-item {
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        padding: 1.8rem 2rem;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        &-group {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            * {
                pointer-events: none;
                transition: all 0.25s linear;
            }
        }
        &-name {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &-update {
        &-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2.8rem;
        }
    }
}
.chapter-update-container {
    height: 0;
    overflow: hidden;
    transition: all 0.25s linear;
}
.chapter-update-container.is-active {
    height: auto;
}
.chapter-add-container {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.8rem 2rem;
    border-radius: 0.5rem;
    height: auto;
}
