section.paymentStatus
    .icon-common
        a(href="index.html")
            h1.header-payment-title Poppins'
        .icon-table
            table
                th
                    a(href="revision.html")
                        img(srcset="./images/Revision.png 2x").payment-option
                        h1.note Revision
                th
                    a(href="learning.html")
                        img(srcset="./images/learn.png 2x").payment-option
                        h1.note  Learn new word
                th
                    a(href="notebook.html")
                        img(srcset="./images/notebook.png 2x").payment-option
                        h1.note Notebook
                th
                    a(href="chatbox.html")
                        img(srcset="./images/chatbox.png 2x").payment-option
                        h1.note  Chatbox
                th
                    a(href="userinfo.html")
                        img(srcset="./images/user.png 2x").payment-option
                        h1.note User Information
                th
                    a(href="learning.html")
                        img(srcset="./images/more.png 2x").payment-option
                        h1.note Option
    .status
        h2.notify-first Congratulation!!!... / OMG!!! That have an issue...
        img(srcset="./images/premium.jpg 2x").premium-icon
        h2.notify-second Your account upgrade premium is successful/failed...
        .table-status
            table 
                tr.col  
                    th Name 
                    th Price 
                    th Date 
                    th Description 
                tr.con-status 
                    td Monthly 
                    td 4.99$
                    td 02/22/2022
                    td Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia modi dicta dignissimos minus, ducimus nisi ratione minima soluta distinctio ex. Beatae sunt tempore dicta commodi perferendis vitae totam consequuntur eveniet.
    .button-success 
        button.button-back(type="back" alt="") Back
        button.button-retry(type="submit" alt="") Retry Order
        button.htr(type="submit" alt="") Continue