section.payment
    .icon-common
        a(href="index.html")
            h1.header-payment-title Poppins'
        .icon-table
            table
                th
                    a(href="revision.html")
                        img(srcset="./images/Revision.png 2x").payment-option
                        h1.note Revision
                th
                    a(href="learning.html")
                        img(srcset="./images/learn.png 2x").payment-option
                        h1.note  Learn new word
                th
                    a(href="notebook.html")
                        img(srcset="./images/notebook.png 2x").payment-option
                        h1.note Notebook
                th
                    a(href="chatbox.html")
                        img(srcset="./images/chatbox.png 2x").payment-option
                        h1.note  Chatbox
                th
                    a(href="userinfo.html")
                        img(srcset="./images/user.png 2x").payment-option
                        h1.note User Information
                th
                    a(href="learning.html")
                        img(srcset="./images/more.png 2x").payment-option
                        h1.note Option
    .icon-method
        img(srcset="./images/master.png 2x").method-master
        img(srcset="./images/momo.png 2x").method-momo
        img(srcset="./images/bank.png 2x").method-banking
    .payment-title
        lable(for="title-first" id="title-first") Poppins'
        lable(for="title-second" id="title-second") Premium
    .payment-premium
        lable(for="basic" id="basic") 1 month/4.99$ 
        lable(for="premium" id="premium") 6 month/19.99$ 
        lable(for="sale-premuim" id="sale-premium") 12 month/35.99$
    .payment-main
        form(action="#" id="pay")
            select(name="method" id="method")
                option(value="default") Please select a payment method
                option(value="master") MasterCard 
                option(value="momo") MoMo
                option(value="banking") Internet Banking
            label(for="card-number" id="card") Card Number
            input(type="text" id="card-number")
            label(for="cvv" id="cv") CVV
            input(type="text" id="cvv")
            label(for="valid-card" id="m-y") Valid Until
            select(name="month" id="month")
                option(value="default-month") Month
                option(value="jan") 01  
                option(value="feb") 02  
                option(value="mar") 03  
                option(value="apr") 04  
                option(value="may") 05  
                option(value="jun") 06  
                option(value="jul") 07  
                option(value="aug") 08  
                option(value="sep") 09  
                option(value="oct") 10  
                option(value="nov") 11  
                option(value="dec") 12  
            select(name="year" id="year")
                option(value="default-year") Year
                option(value="2022") 2022 
                option(value="2023") 2023 
                option(value="2024") 2024 
                option(value="2025") 2025 
                option(value="2026") 2026 
                option(value="2027") 2027 
                option(value="2028") 2028 
                option(value="2029") 2029 
                option(value="2030") 2030 
    .payment-button
        button.button-payment-back(type="submit" alt="") Back
        button.button-pay(type="submit" alt="") Place order
                