section.history
    .icon-common
        a(href="index.html")
            h1.header-payment-title Poppins'
        .icon-table
            table
                th
                    a(href="revision.html")
                        img(srcset="./images/Revision.png 2x").payment-option
                        h1.note Revision
                th
                    a(href="learning.html")
                        img(srcset="./images/learn.png 2x").payment-option
                        h1.note  Learn new word
                th
                    a(href="notebook.html")
                        img(srcset="./images/notebook.png 2x").payment-option
                        h1.note Notebook
                th
                    a(href="chatbox.html")
                        img(srcset="./images/chatbox.png 2x").payment-option
                        h1.note  Chatbox
                th
                    a(href="userinfo.html")
                        img(srcset="./images/user.png 2x").payment-option
                        h1.note User Information
                th
                    a(href="learning.html")
                        img(srcset="./images/more.png 2x").payment-option
                        h1.note Option
    .intro
        h1.intro Premium List
    .paymentHistory
        table
            tr
                th.col No
                th.col Premium Name 
                th.col Date 
                th.col Price
                th.col Status
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
    .history-button 
        button.button-back(type="back" alt="") Back
        button.htr(type="submit" alt="") Confirm
        

        