section.admin 
    +featureTeacher()
    .teacher-wrapper
        +headerItem("./images/main.jpg","Quizzes")
        +lineSeparate("","BASIC INFORMATION")
        .teacher-course 
            .teacher-course-title Couse title 
            input(type="text" placeholder="Name of course").teacher-course-input
            .teacher-course-tutorial Please enter name of this course
        +lineSeparate("","CHAPTER")
        button.btn-primary.btn-primary--add.btn-primary--course ADD CHAPTER
        .teacher-chapter-list 
            .teacher-chapter-item 
                h3.teacher-chapter-title Chapter 1
                .teacher-chapter-icon 
                    a(href="editChapterTeacher.html").admin-table-action.admin-table-action--blue.quiz-delete <i class="fas fa-pen"></i>
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete <i class="fas fa-trash"></i>
        .button-list 
            button(type="submit").password-submit Save change
            button(type="submit").password-submit.password-submit--red Delete