section.admin 
    +featureTeacher()
    .chapter-wrapper 
        +headerItem("./images/main.jpg","Quizzes")
        +lineSeparate("","ALL OF QUESTIONS")
        .chapter-container 
            h2.chapter-title 
            .chapter-list 
                .chapter-item 
                    .chapter-item-group 
                        h3.chapter-item-name Question 1
                        i.fas.fa-angle-up
                    .chapter-update-container
                        .chapter-update-main 
                            .chapter-update-top 
                                +inputbase("Vocabulary","Enter your vocaluary")
                                +inputbase("Word category","Enter your vocaluary category")
                            +inputbase("Meaning","Enter your meaning word")
                            +inputbase("IPA","Enter your IPA word")
                            +inputbase("For example","Enter your example for word")
                            .chapter-update-top 
                                .input-base 
                                    .input-base-title Images
                                    .input-file
                                        input#file(type='file' name='file')
                                        label.input-label(for='file')
                                            i.fas.fa-cloud-upload-alt.icon-upload
                                +inputbase("Audio","Enter your example for word","file")
                        .dropdown 
                            .dropdown__select
                                span.dropdown__selected Mutiple choice
                                i.fa.fa-caret-down.dropdown__caret
                            .dropdown-content 
                                ul.dropdown__list
                                    li.dropdown__item
                                        span.dropdown__text Fill in the blank1111
                                    li.dropdown__item
                                        span.dropdown__text Multiple choice
                                    li.dropdown__item
                                        span.dropdown__text Listening
                                    li.dropdown__item
                                        span.dropdown__text Underlined word
                        .submit-container 
                            button(type="submit").btn-submit Update
                            button(type="submit").btn-submit.btn-submit--normal Delete
                .chapter-item 
                    .chapter-item-group 
                        h3.chapter-item-name Question 2
                        i.fas.fa-angle-up
                    .chapter-update-container
                        .chapter-update-main 
                            .chapter-update-top 
                                +inputbase("Vocabulary","Enter your vocaluary")
                                +inputbase("Word category","Enter your vocaluary category")
                            +inputbase("Meaning","Enter your meaning word")
                            +inputbase("IPA","Enter your IPA word")
                            +inputbase("For example","Enter your example for word")
                            .chapter-update-top 
                                .input-base 
                                    .input-base-title Images
                                    .input-file
                                        input#file(type='file' name='file')
                                        label.input-label(for='file')
                                            i.fas.fa-cloud-upload-alt.icon-upload
                                +inputbase("Audio","Enter your example for word","file")
                        .dropdown
                            .dropdown__select
                                span.dropdown__selected Mutiple choice
                                i.fa.fa-caret-down.dropdown__caret
                            .dropdown-content 
                                ul.dropdown__list
                                    li.dropdown__item
                                        span.dropdown__text Fill in the blank 2222
                                    li.dropdown__item
                                        span.dropdown__text Multiple choice
                                    li.dropdown__item
                                        span.dropdown__text Listening
                                    li.dropdown__item
                                        span.dropdown__text Underlined word
                        .submit-container 
                            button(type="submit").btn-submit Update
                            button(type="submit").btn-submit.btn-submit--normal Delete
        +lineSeparate("","New question")
        .chapter-update-container.chapter-add-container
            .chapter-update-main 
                .chapter-update-top 
                    +inputbase("Vocabulary","Enter your vocaluary")
                    +inputbase("Word category","Enter your vocaluary category")
                +inputbase("Meaning","Enter your meaning word")
                +inputbase("IPA","Enter your IPA word")
                +inputbase("For example","Enter your example for word")
                .chapter-update-top 
                    .input-base 
                        .input-base-title Images
                        .input-file
                            input#file(type='file' name='file')
                            label.input-label(for='file')
                                i.fas.fa-cloud-upload-alt.icon-upload
                    +inputbase("Audio","Enter your example for word","file")
            .dropdown
                .dropdown__select
                    span.dropdown__selected Mutiple choice
                    i.fa.fa-caret-down.dropdown__caret
                .dropdown-content 
                    ul.dropdown__list
                        li.dropdown__item
                            span.dropdown__text Fill in the blank
                        li.dropdown__item
                            span.dropdown__text Multiple choice
                        li.dropdown__item
                            span.dropdown__text Listening
                        li.dropdown__item
                            span.dropdown__text Underlined word
            .submit-container 
                button(type="submit").btn-submit Add
                button(type="submit").btn-submit.btn-submit--normal Delete
