section.admin 
    +featureTeacher()
    .teacher-wrapper 
        +headerItem("./images/main.jpg","Quizzes")
        .teacher-container 
            button.btn-primary.btn-primary--add ADD COURSE 
            +lineSeparate("","COURSES LIST")
            .quiz-list 
                +infomationItem("./images/main.jpg","Angular Routing In-Depth","15 complete","true","true",'<i class="fas fa-pen"></i>','<i class="fas fa-trash"></i>','editCourseTeacher.html')
                +infomationItem("./images/main.jpg","Angular Routing In-Depth","15 complete","true","true",'<i class="fas fa-pen"></i>','<i class="fas fa-trash"></i>','editCourseTeacher.html')
                +infomationItem("./images/main.jpg","Angular Routing In-Depth","15 complete","true","true",'<i class="fas fa-pen"></i>','<i class="fas fa-trash"></i>','editCourseTeacher.html')
                +infomationItem("./images/main.jpg","Angular Routing In-Depth","15 complete","true","true",'<i class="fas fa-pen"></i>','<i class="fas fa-trash"></i>','editCourseTeacher.html')
                +pagination
