section.login 
    .login-container 
        .login-header 
            a(href="#").login-close
                i.fa.fa-times
            button.button-sigup(type="submit") Sign Up
        .login-main 
            .login-title Log In
            .input-list 
                .input-item 
                    i.fas.fa-user-circle
                    input(type="text" placeholder="User name").input
                .input-item 
                    i.fas.fa-lock
                    input(type="text" placeholder="Password").input
                a(href="#").login-forget
                    h3 Forgot password            
            button.button-base Log in 
            p.login-auth By signing in to Poppin', you agree to our Terms and Privacy Policy.



