section.sigup 
    .login-container 
        .login-header 
            a(href="#").login-close
                i.fa.fa-times
            button.button-sigup(type="submit") Sign Up
    .login-main 
            .login-title Create new account
            .input-list 
                .input-item 
                    input(type="text" placeholder="User name").input
                .input-item 
                    input(type="text" placeholder="Full name").input
                .input-item 
                    input(type="text" placeholder="Password").input
                .input-item 
                    input(type="text" placeholder="Confirm password").input
                .input-item 
                    input(type="text" placeholder="Email").input
            button.button-base Register
            p.login-auth By signing in to Poppin', you agree to our Terms and Privacy Policy.
