section.exam-result
    .icon-common
        a(href="index.html")
            h1.header-payment-title Poppins'
        .icon-table
            table
                th
                    a(href="revision.html")
                        img(srcset="./images/Revision.png 2x").payment-option
                        h1.note Revision
                th
                    a(href="learning.html")
                        img(srcset="./images/learn.png 2x").payment-option
                        h1.note  Learn new word
                th
                    a(href="notebook.html")
                        img(srcset="./images/notebook.png 2x").payment-option
                        h1.note Notebook
                th
                    a(href="chatbox.html")
                        img(srcset="./images/chatbox.png 2x").payment-option
                        h1.note  Chatbox
                th
                    a(href="userinfo.html")
                        img(srcset="./images/user.png 2x").payment-option
                        h1.note User Information
                th
                    a(href="learning.html")
                        img(srcset="./images/more.png 2x").payment-option
                        h1.note Option
    .name 
        h1.name Welcome!!!,  
            a(href="userinfo.html") user Exam Result 
    .table-result
        table
            tr
                th 
                    h2.column Test Name
                th 
                    h2.column Number of total questions 
                th 
                    h2.column Number of correct answers
                th 
                    h2.column Percent correct answers 
                th 
                    h2.column Mark
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            
    .button-result 
        button.button-learn(type="submit" alt="")  Continue Leaning
        button.button-review(type="submit"  alt="") Review 
        button.button-exit(type="submit" alt="") Exit