section.exam 
    .exam-left
        .icon-exam-header
            a(href="index.html")
                h1.header-title Poppins'
        .icon-exam-main
            table
                tr
                    th
                        a(href="learning.html")
                            h1.exam-first Course
                    th
                        a(href="examProcessing.html")
                            h1.exam-second Exam
        .exam-content
            table.exam-content
                td
                    p Reviewing what you have learned in this course. After taking this exam you can get the course certificate and your name will be displayed on the leaderboard!  
    .exam-button
            button.button-first(type="submit" alt="") Start
            button.button-second(type="submit" alt="") Review
    .exam-right
        a(href="index.html")
            img(srcset="./images/Exam.png 2x").exam-image