section.exam-process
    .icon-exam-process-header
        h1.header-title-first Poppins'
        h1.header-main-title Test Exam 01
        h2.header-title-second Exam
    .clock
        div(id="time")
            div
                span(id='hour') 01:
                span(id='minnute') 59:
                span(id='second') 30
    .number-question
        h3.number-question-exam Question 12/30
    .table-question
        table.list-question
            tr 
                td
                    button.button-question(type="submit" id="done" alt="") 1 
                td
                    button.button-question(type="submit" id="done"  alt="") 2 
                td
                    button.button-question(type="submit" id="done" alt="") 3 
                td
                    button.button-question(type="submit" id="done" alt="") 4 
                td
                    button.button-question(type="submit" id="done" alt="") 5
                td
                    button.button-question(type="submit" id="done" alt="") 6
            tr
                td
                    button.button-question(type="submit" id="done"  alt="") 7 
                td
                    button.button-question(type="submit" id="done" alt="") 8 
                td
                    button.button-question(type="submit" id="done" alt="") 9 
                td
                    button.button-question(type="submit" id="done" alt="") 10
                td
                    button.button-question(type="submit" id="done" alt="") 11 
                td
                    button.button-question(type="submit" id="doing" alt="") 12 
            tr
                td
                    button.button-question(type="submit"  alt="") 13 
                td
                    button.button-question(type="submit"  alt="") 14 
                td
                    button.button-question(type="submit"  alt="") 15
                td
                    button.button-question(type="submit"  alt="") 16 
                td
                    button.button-question(type="submit"  alt="") 17 
                td
                    button.button-question(type="submit"  alt="") 18 
            tr
                td
                    button.button-question(type="submit"  alt="") 19 
                td
                    button.button-question(type="submit"  alt="") 20 
                td
                    button.button-question(type="submit"  alt="") 21 
                td
                    button.button-question(type="submit"  alt="") 22 
                td
                    button.button-question(type="submit"  alt="") 23 
                td
                    button.button-question(type="submit"  alt="") 24 
            tr
                td
                    button.button-question(type="submit"  alt="") 25
                td
                    button.button-question(type="submit"  alt="") 26 
                td
                    button.button-question(type="submit"  alt="") 27
                td
                    button.button-question(type="submit"  alt="") 28 
                td
                    button.button-question(type="submit"  alt="") 29 
                td
                    button.button-question(type="submit"  alt="") 30
    .table-content-question                
        table.content-question
            tr
                td
                    p.num-question 12. The Drafting Committee was constituted on ____ under the chairmanship of Dr.B.R.Ambedkar.
                    .option-content
                        input(type='radio', name='option', id='option-1', value='A')
                        label(for='option-1') A. 1947 August 26
                        </br>
                        input(type='radio', name='option', id='option-2', value='B')
                        label(for='option-2') B. 1947 August 27
                        </br>
                        input(type='radio', name='option', id='option-3', value='C')
                        label(for='option-3') C. 1947 August 28
                        </br>
                        input(type='radio', name='option', id='option-4', value='D')
                        label(for='option-4') D. 1947 August 29
    .button-container
        .exam-button-left        
            button.button-back(type="back" alt="") Previous 
            button.button-next(type="submit" alt="") Next
        .exam-button-right
            button.button-finish(type="submit" alt="")  Finish the test