section.admin
    +feature()
    .password-wrapper 
        +headerItem("./images/main.jpg","Change password")
        .password-main 
            +inputPassword("Old password","Enter old password")
            +inputPassword("New password","Enter new password")
            +inputPassword("Re-enter password","Re-enter new password")
            button(type="submit").password-submit Update password