section.admin-course.admin
    +feature
    .admin-main.admin-main--course
        .admin-filed
            i.fas.fa-search
            input(type="text" placeholder="Search for course name").admin-search 
        .admin-top 
            .admin-title Course List
            .admin-table 
                table 
                    thead 
                        tr 
                            th Course ID
                            th Name
                            th Author
                            th Feedback
                            th Action
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="fas fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="fas fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="fas fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>