section.admin-course.admin
    +feature
    .admin-main.admin-main--course
        .admin-filed
            i.fas.fa-search
            input(type="text" placeholder="Search for student name").admin-search 
        .admin-top
            .admin-title List of feedback
            .admin-table.admin-teacher  
                table 
                    thead 
                        tr 
                            th Feedback ID
                            th Content
                            th Name
                            th Delete
                            th Foward
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae delectus esse aspernatur aperiam alias, saepe fugit quisquam cumque dolorem placeat repellat nisi. Consequatur aspernatur delectus nostrum asperiores, alias est!
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@..... 
                            td  
                                a(href="#").admin-table-action.admin-table-action--red <i class="far fa-trash"></i>  
                            td  
                                a(href="#").admin-table-action.admin-table-action--green <i class="fas fa-share"></i>  