section.admin
    +feature()
    .admin-main 
        h2.admin-title Overview
        .admin-data 
            +dataItem("Total money","123$","money.jpg")
            +dataItem("Sold","67","Sold.png")
        .admin-chart 
            h2.admin-title.admin-title--sale Sales analytic
            canvas#myChart 
        .admin-top 
            .admin-title Detail
            .admin-table 
                table 
                    thead 
                        tr 
                            th Course ID
                            th Email
                            th Course type
                            th Order date
                            th Status
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-action premium
                            td  
                                .admin-table-point 2022-1-19
                            td 
                                .admin-table-action.admin-table-action--green Success
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-action premium
                            td  
                                .admin-table-point 2022-1-19
                            td 
                                .admin-table-action.admin-table-action--green Success
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-action premium
                            td  
                                .admin-table-point 2022-1-19
                            td 
                                .admin-table-action.admin-table-action--green Success