section.admin
    +feature
    .quiz
        +headerItem("./images/main.jpg","Quizzes")
        .quiz-list 
            .quiz-item 
                .quiz-header 
                    img(src="./images/main.jpg", alt="").quiz-images
                    .quiz-title 
                        .quiz-name Angular Routing In-Depth
                        .quiz-complete 15 complete 
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete <i class="fas fa-trash"></i>
                .quiz-main 
                    +quizItemMain("Author","Sang Ha Phuoc")
                    +quizItemMain("Date created","18/1/2001")
                    +quizItemMain("Number of nembers","200")
                    +quizItemMain("Number of quiz","21")
            .quiz-item 
                .quiz-header 
                    img(src="./images/main.jpg", alt="").quiz-images
                    .quiz-title 
                        .quiz-name Angular Routing In-Depth
                        .quiz-complete 15 complete 
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete <i class="fas fa-trash"></i>
                .quiz-main 
                    +quizItemMain("Author","Sang Ha Phuoc")
                    +quizItemMain("Date created","18/1/2001")
                    +quizItemMain("Number of nembers","200")
                    +quizItemMain("Number of quiz","21")
            .quiz-item 
                .quiz-header 
                    img(src="./images/main.jpg", alt="").quiz-images
                    .quiz-title 
                        .quiz-name Angular Routing In-Depth
                        .quiz-complete 15 complete 
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete <i class="fas fa-trash"></i>
                .quiz-main 
                    +quizItemMain("Author","Sang Ha Phuoc")
                    +quizItemMain("Date created","18/1/2001")
                    +quizItemMain("Number of nembers","200")
                    +quizItemMain("Number of quiz","21")
            .quiz-item 
                .quiz-header 
                    img(src="./images/main.jpg", alt="").quiz-images
                    .quiz-title 
                        .quiz-name Angular Routing In-Depth
                        .quiz-complete 15 complete 
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete <i class="fas fa-trash"></i>
                .quiz-main 
                    +quizItemMain("Author","Sang Ha Phuoc")
                    +quizItemMain("Date created","18/1/2001")
                    +quizItemMain("Number of nembers","200")
                    +quizItemMain("Number of quiz","21")       
            ul.pagination
                li.page-item.page-item-first
                    a(href="#").page-link.page-active
                        span.page-link-icon <i class="fas fa-angle-left"></i>
                        span Prev
                li.page-item.page-item-child
                    a(href="#").page-link
                        span 1
                li.page-item.page-item-child
                    a(href="#").page-link
                        span 2
                li.page-item.page-item-last
                    a(href="#").page-link 
                        span Next
                        span.page-link-icon <i class="fas fa-angle-right"></i>
        .admin-chart-container  
            .admin-chart.admin-chart--pad 
                h2.admin-title.admin-title--sale Quizzes analytic
                canvas#myChartQuizzes           
