extends layout/layout

block vars
	-title = 'Landing Page'
	-bodyClass = 'landing-page'
	-authorised = 'true'
block container
	include blocks/started
	include blocks/why
	include blocks/plan
	include blocks/test
