extends layout/layout

block vars
    -title = 'Learning'
    -bodyClass = 'Learning'

block global 
    include blocksLearningPage/navigationBar
    include blocksLearningPage/learningPage
    include blocksLearningPage/courseSelection
    include blocksLearningPage/leaderboard