//- extends layout/layout
//- block vars
//- 	-title = 'Sigup'
//- 	-bodyClass = 'Sigup'
//- block global 
//-     include blockUser/information
extends layout/layout

block vars
	-title = 'Info'
	-bodyClass = 'Info'

block global 
	include blockUser/information